<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
<link href="{{url_for('static', filename='bootstrap.min.css')}}") rel="stylesheet">
<link href="{{url_for('static', filename='unswtalk.css')}}") rel="stylesheet">
<script src="//code.jquery.com/jquery-3.2.1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>





    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
      <a class="navbar-brand" href="/">UNSWTalk</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       {% if 'user_id' in request.cookies %}
       {% set my_id = request.cookies.get('user_id') %}
       {% set my_name = request.cookies.get('user_name') %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Welcome {{ my_name }}</a>
            </li>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('results') }}" method="POST">
          <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </ul>
          <ul class="nav navbar-nav ml-auto justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('user', zid=my_id)}}">My Profile<span class="sr-only">(current)</span></a>
          </li>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
            <button class="btn btn-outline-danger my-2 mr-sm-2 my-sm-0" type="submit">Logout</button>
          </form>
        </ul>
        {% endif %}
          {% if not 'user_id' in request.cookies %}
          <ul class="nav navbar-nav ml-auto justify-content-end">
          <form class="form-inline my-2 my-lg-0" action="{{ url_for('login') }}" method="POST">
            <input class="form-control mr-sm-2" type="text" name="user_id" placeholder="zID">
            <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
            <button class="btn btn-outline-success my-2 mr-sm-2 my-sm-0" type="submit">Login</button>
          </form>
        </ul>
          {% endif %}
      </div>
    </div>
    </nav>





<div class="container">
    {% block body_contents %}
    {% endblock %}
</div>
<script src="{{url_for('static', filename='bootstrap.min.js')}}")></script>
<script src="{{url_for('static', filename='popper.min.js')}}")></script>
<script src="{{url_for('static', filename='collapse.js')}}")></script>
</body>
</html>
