{% extends "base.html" %}

{% block body_contents %}


{% if err %}
<div class="alert alert-warning" role="alert">
  <strong>Failed Login</strong> {{ err }}
</div>
{% endif %}
{% if err2 %}
<div class="alert alert-warning" role="alert">
  <strong>Failed Registration</strong> {{ err2 }}
</div>
{% endif %}

<!-- Some of this code taken from https://getbootstrap.com/docs/4.0/components/forms/ -->
<!-- <h1 class="display-4">Join us today!</h1>
<h4 class="text-muted mb-5">We're the most vibrant fake community on the internet.</h4>
 --><form action="{{ url_for('submitedit') }}" method="POST" enctype = "multipart/form-data">
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
              <label for="inputName">Full Name</label>
              <input type="text" class="form-control" name="inputName" value="{{ student.full_name }}">
            </div>
            <div class="form-group">
              <label for="inputBday">Birthday</label>
              <input type="text" class="form-control" name="inputBday" value="{{ student.birthday }}" pattern="[12][0-9]{3}-[0-9]{2}-[0-9]{2}" title="YYYY-MM-DD"> 
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" name="inputPassword" value="{{ student.password }}">
            </div>
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" name="inputEmail" value="{{ student.email }}" pattern=".*unsw.edu.au$" title="Email must end in unsw.edu.au" required>
            </div>
            <div class="form-group">
              <label for="inputProgram">Program</label>
              <input type="text" class="form-control" name="inputProgram" value="{{ student.program }}">
            </div>
            <div class="form-group">
              <label for="inputSuburb">Home Suburb</label>
              <input type="text" class="form-control" name="inputSuburb" value="{{ student.home_suburb }}">
            </div>
            <div class="form-group">
              <label for="inputPText">Profile Text</label>
              <input type="text" class="form-control" name="inputPText" value="{{ student.profile_text }}">
            </div>
            <div class="form-group">
              <label for="inputCourses">Courses (must be comma seperated in the format "2017 S1 COMP9021")</label>
              {% if student.courses != [] %}
              <input type="text" class="form-control" name="inputCourses" value="{% for c in student.courses %}{{ c }}{{ ', ' if not loop.last }}{% endfor %}" pattern="^([0-9]{4} [XS][12] [A-Z]{4}[0-9]{4})*(, [0-9]{4} [XS][12] [A-Z]{4}[0-9]{4})*$" title="Please put a ', ' between course entries">
              {% endif %}
              {% if student.courses == [] %}
              <input type="text" class="form-control" name="inputCourses" pattern="^([0-9]{4} [XS][12] [A-Z]{4}[0-9]{4})*(, [0-9]{4} [XS][12] [A-Z]{4}[0-9]{4})*$" title="Please put a ', ' between course entries">
              {% endif %}
            </div>
            <!-- <div class="form-group">
                <label for="inputPicture">Upload a new profile picture (optional)</label>
                <input type="file" class="form-control-file" name="file">
            </div> -->
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-3">
            I will write some stuff about how great UNSW talk is here.
        </div>
    </div>
</form>

{% endblock %}