{% extends "base.html" %}

{% block body_contents %}


<div class="row mx-auto style="width: 200px;">
	<h2>Friend Suggestions</h2>
</div>
<div class="jumbotron">
<div class="row">
	<h5>Suggestions {{ n }} to {{ max_n }}</h5>
</div>
<div class="row">
		<ul class="list-group">
			{% if not recs %}
				There are no more suggestions.
			{% endif %}
			{% for r in recs %}
			    <li class="list-group-item">
			    <img src="{{url_for('static',filename=s[r[0]].picture)}}" class="rounded-circle" height="35" width="35">
			    <a href="{{url_for('user', zid=r[0])}}">{{ s[r[0]].full_name }}</a>
			    </li>
			{% endfor %}
		</ul>
	</div>

	<div class="row">
		<a href="{{ url_for('friendsuggestions', n = n-10) }}">Previous  </a>
	{% if recs %}
	</div>
	<div class="row">
		<p class="text-right"><a href="{{ url_for('friendsuggestions', n = max_n) }}">Next</a></p>
	{% endif %}
	</div>
</div>
{% endblock %}