{% extends "base.html" %}

{% block body_contents %}
<div class="jumbotron">
<div class="row mb-4">
	<div class="col-sm-12"> 
		<h3>{{ s[student].full_name }}</h3>
 	</div>
</div>
<div class="row mb-3">
	<div class="col-md-3">	
		<img src="{{url_for('static',filename=s[student].picture)}}" width=200px height=200px></img>
	</div>
	<div class="col-md-9">	
		<table class="table ml-1 table-sm">
			<tbody>
				<tr>
					<td>zID</td>
					<td>{{ s[student].zid }}</td>
				</tr>
				<tr>
					<td>Age</td>
					<td>{{ s[student].age }}</td>
				</tr>
				<tr>
					<td>Birthday</td>
					<td>{{ s[student].birthday }}</td>
				</tr>
				<tr>
					<td>Program</td>
					<td>{{ s[student].program }}</td>
				</tr>
				<tr>
					<td>Suburb</td>
					<td>{{ s[student].home_suburb }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
    		{% for friend_row in s[student].friends | batch(4) %}
    		<div class="row">
    			{% for friend in friend_row %}
    			<div class="col-sm-3 mb-2">
	                <img src="{{url_for('static',filename=s[friend].picture)}}" class="rounded-circle" height="35" width="35">
	        		<a href="{{url_for('user', zid=s[friend].zid)}}">{{ s[friend].full_name }}</a>
	            </div>
                {% endfor %}
            </div>
    		{% endfor %}
        </div>
</div>
{% endblock %}