{% extends "base.html" %}

{% block body_contents %}
{% if 'user_id' in request.cookies %}
{% set my_id = request.cookies.get('user_id') %}
{% endif %}
<div class="container row">
	<h1 class="display-5" display="inline">{{ s[student].full_name }}</h1>
	{% if student == my_id %}
	<a class="ml-2" href="{{ url_for('editprofile') }}">Edit Profile</a>
	<a class="ml-2 text-warning" href="{{ url_for('suspendconfirm') }}">Suspend Account</a>
	<a class="ml-2 text-danger" href="{{ url_for('deleteconfirm') }}">Delete Account</a>
	{% endif %}	
	{% if student not in s[my_id].friends and student != my_id %}
	<a class="ml-2" href="{{ url_for('addfriend', friend=student) }}">Add Friend</a>
	{% endif %}
	{% if student in s[my_id].friends%}
	<a class="ml-2 text-danger" href="{{ url_for('removefriend', friend=student) }}">Unfriend</a>
	{% endif %}
</div>
<div class="card bg-light">
	<div class="card-body">
		<div class="card card-body text-white bg-secondary mb-3">
			<p class="card-text lead">
			{{ s[student].profile_text | safe }} 
			</p>
		</div>

<div class="row mb-3">
	<div class="col-md-3">	
		<img src="{{url_for('static',filename=s[student].picture)}}" width=200px height=200px></img>
	</div>
	<div class="col-md-9">	
		<table class="table ml-1 table-sm">
			<tbody>
				<tr>
					<td>zID</td>
					<td>{{ s[student].zid }}</td>
				</tr>
				<tr>
					<td>Age</td>
					<td>{{ s[student].age }}</td>
				</tr>
				<tr>
					<td>Birthday</td>
					<td>{{ s[student].birthday }}</td>
				</tr>
				<tr>
					<td>Program</td>
					<td>{{ s[student].program }}</td>
				</tr>
				<tr>
					<td>Suburb</td>
					<td>{{ s[student].home_suburb }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="card border-success">
	<div class="card-header">
		<div class="row">
			<h5 class="text-success">Friends List</h5>
			{% if student == my_id %}
			<a href="{{ url_for('friendsuggestions', n=0) }}" class="ml-2">want some suggestions?</a>
			{% endif %}
		</div>
	</div>
	<div class="card-body">
		{% if s[student].friends[0] != '' %}
    		{% for friend_row in s[student].friends | batch(4) %}
    		<div class="row">
    			{% for friend in friend_row %}
    			<div class="col-sm-3 mb-3">
	                <img src="{{url_for('static',filename=s[friend].picture)}}" class="rounded-circle" height="35" width="35">
	        		<a href="{{url_for('user', zid=s[friend].zid)}}">{{ s[friend].full_name }}</a>
	            </div>
                {% endfor %}
            </div>
    		{% endfor %}
    		{% endif %}
        </div>
    </div>
</div>

	{% for post in posts %}
	<div class="row">
	<div class="col">
		<div class="card mb-3 p-3">
    	<div class="card-body">
    	<h5>
	        <img src="{{url_for('static', filename=s[post.zid].picture)}}" class="rounded-circle" height="35" width="35">
			<a href="{{url_for('user', zid=post.zid)}}" class="text-dark ml-1">{{ s[post.zid].full_name }}</a>
		</h5>
    	<p class="text-muted">{{ post.time|safe }}</p>
    	<p>{{ post.fmessage|safe }}</p>
    	<form action="{{ url_for('newcomment')}}" method="POST">
    	 <input type="hidden" name="post_zid" value="{{ post.zid }}" />
    	 <input type="hidden" name="post_id" value="{{ post.post_id }}" />
		 <input class="form-control form-control-sm mb-2" type="text" name="comment" id="comment" placeholder="Write a comment...">
		 <div class="row p-3">
		 <button type="submit" class="btn btn-outline-primary btn-sm mr-2">Submit</button>
		</form>
    	{% if post.comments %}
    	  <button class="btn btn-outline-success btn-sm mr-2" type="button" data-toggle="collapse" data-target="#{{post.hsh}}" aria-expanded="false" aria-controls="comment{{post.hsh}}">
    	  	View Comments
		  </button>
		 {% endif %} 
		 {% if post.zid == my_id and post.fmessage != '[Deleted]' %}
    	<form class="form-inline" action="{{ url_for('deletepost')}}" method="POST">
    	 <input type="hidden" name="post_zid" value="{{ post.zid }}" />
    	 <input type="hidden" name="fname" value="{{ post.file }}" />
		 <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
		</form>
		 {% endif %}
		</div>
		<div class="collapse" id="{{post.hsh}}">
		{% for comment in post.comments if (comment.zid not in suspended and comment.zid not in deleted) %}
		  <div class="card ml-1 mt-2 bg-light">
	    	<div class="card-body">
	    	<p class="text-muted">
		        <img src="{{url_for('static', filename=s[comment.zid].picture)}}" class="rounded-circle" height="35" width="35">
				<a href="{{url_for('user', zid=comment.zid)}}" class="text-dark">{{ s[comment.zid].full_name }}</a>
				{{ comment.time|safe }}
			</p>
	    	<p>{{ comment.fmessage|safe }}</p>
	    	<form action="{{ url_for('newreply')}}" method="POST">
	    	 <input type="hidden" name="post_zid" value="{{ post.zid }}" />
	    	 <input type="hidden" name="post_id" value="{{ post.post_id }}" />
	    	 <input type="hidden" name="comment_id" value="{{ comment.comment_id }}" />
			 <input class="form-control form-control-sm mb-2" type="text" name="comment" id="comment" placeholder="Write a comment...">
			 <div class="row p-3">
			 <button type="submit" class="btn btn-outline-primary btn-sm mr-2">Submit</button>
			</form>
			 {% if comment.zid == my_id and comment.fmessage != '[Deleted]' %}
	    	<form class="form-inline" action="{{ url_for('deletepost')}}" method="POST">
	    	 <input type="hidden" name="post_zid" value="{{ post.zid }}" />
	    	 <input type="hidden" name="fname" value="{{ comment.file }}" />
			 <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
			</form>
		 {% endif %}
		</div>
			{% for reply in comment.replies if (reply.zid not in suspended and reply.zid not in deleted) %}
			  <div class="card ml-2 mt-2 card-body bg-light">
		    	<p class="text-muted">
			        <img src="{{url_for('static', filename=s[reply.zid].picture)}}" class="rounded-circle" height="35" width="35">
					<a href="{{url_for('user', zid=reply.zid)}}" class="text-dark">{{ s[reply.zid].full_name }}</a>
					{{ reply.time|safe }}
				</p>
		    	<p>{{ reply.fmessage|safe }}</p>
				 {% if reply.zid == my_id and reply.fmessage != '[Deleted]' %}
			    	<form class="form-inline" action="{{ url_for('deletepost')}}" method="POST">
			    	 <input type="hidden" name="post_zid" value="{{ post.zid }}" />
			    	 <input type="hidden" name="fname" value="{{ reply.file }}" />
					 <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
					</form>
				 {% endif %}
			  </div>
			  {% endfor %}
		  </div>
		</div>
		  {% endfor %}
		</div>
	</div>
	    </div>
    </div>
	</div>
	{% endfor %}


{% endblock %}