{% extends "base.html" %}

{% block body_contents %}
<div class="row">
	<div class="col-sm-12"> 
		<h2>{{full_name}}</h2>
<!-- 		<form method="POST" action="">
		    <input type="hidden" name="n" value="7">
		    <input type="submit" value="Next student" class="unswtalk_button">
		</form>
 -->	</div>
</div>
<div class="row">
	<div class="col-sm-3">	
		<img src="{{url_for('static',filename=picture)}}"></img>
	</div>
	<div class="col-sm-9" style="background-color:pink;">	
		<table class="table">
			<tbody>
				<tr>
					<td>zID</td>
					<td>{{zid}}</td>
				</tr>
				<tr>
					<td>Birthday</td>
					<td>{{birthday}}</td>
				</tr>
				<tr>
					<td>Program</td>
					<td>{{program}}</td>
				</tr>
				<tr>
					<td>Suburb</td>
					<td>{{home_suburb}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
            <ul class="list-group">
            <li class="list-group-item">Friends List</li> 
    		{% for friend in friends %}
            <!-- <div class="row"> -->
                <li class="list-group-item">
                <img src="{{url_for('static',filename=friend[2])}}" class="rounded-circle" height="35" width="35">
        		<a href="{{url_for('user', zid=friend[0])}}">{{ friend[1] }}</a>
                </li>
            <!-- </div>  -->
    		{% endfor %}
	    	</ul>
        </div>
        <div class="col-sm-9">
        	{% if posts %}
        	{% for post in posts %}
        	<div class="card mb-2 mt-2">
	        	<h5 class="card-title">{{ post[0]|safe }}</h5>
	        	<h6 class="card-subtitle mb-3 text-muted">{{ post[1]|safe }}</h6>
	        	<p class="card-block">{{ post[2]|safe }}</p>
	        </div>
        	{% endfor %}
        	{% endif %}
        </div>
	</div>
</div>
{% endblock %}