{% extends "base.html" %}

{% block body_contents %}
<div class="container">
 	<div class="row">
 		<div class="col mb-3">
		<div class="card bg-light">
		  <h4 class="card-header">What's on your mind?</h4>
		  <div class="card-body"> 
		  	<form action="{{ url_for('newpost') }}" method="POST">
    		<textarea class="form-control" rows="5" id="post" name="post"></textarea>
    		<div class="text-right">
        		<button class="btn btn-success mt-3" type="submit">Post</button>
        	</div>
	        </form>
		  </div>
		</div>
	</div>
</div>
</div>
<div class="container">
	{% if posts %}
	{% for post in posts %}
	<div class="row">
	<div class="col">
		<div class="card mb-3 p-3">
    	<!-- <h5>{{ post[0]|safe }}</h5> -->
    	<p>
	        <img src="{{url_for('static',filename=post[4])}}" class="rounded-circle" height="35" width="35">
			<a href="{{url_for('user', zid=post[5])}}">{{ post[0] }}</a>
		</p>
    	<h6>{{ post[1]|safe }}</h6>
    	<p>{{ post[2]|safe }}</p>
    	  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#comment{{ post[3] }}" aria-expanded="false" aria-controls="comment{{ post[3] }}">
    	  	View Comments
		  </button>
		<div class="collapse" id="comment{{ post[3] }}">
		  <div class="card card-body">
		    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		  </div>
		</div>
	    </div>
    </div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}